form {
  max-width: 650px;
  margin: 0 auto;
}
.form-control {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  //border:1px solid red;
  margin-top: 15px;

  .label-wrap {
    min-height: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    label {
      margin-right: 15px;
      //height: 50px;
      //border: 1px solid green;
    }
  }

  .item-input {
    //border: 1px solid blue;
    width: 100%;
    .item-input-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      //min-height: 40px;

      input[pInputText],
      p-inputNumber,
      p-selectButton,
      p-dropdown, textarea, p-calendar,
      p-multiSelect,
      p-inputSwitch {
        width: 100%;
        //width: 250px;
      }

    }
  }
  .error {
    color: red;
  }
  .required-asterisk {
    color: red;
  }

  @media only screen and (min-width: 992px) {
    flex-direction: row;

    .label-wrap {
      min-height: 50px;
      width: 30%;
    }
    .item-input {
      width: 70%;
      .item-input-content {
        min-height: 50px;
      }
    }
  }

}

.button-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
