form {
  max-width: 650px;
  margin: 0 auto;
}
.form-control {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  margin-top: 15px;

  .label-wrap {
    min-height: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    label {
      margin-right: 15px;
    }
  }

  .item-input {
    width: 100%;
    .item-input-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .radio-button-group {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 0 20px 0;

        .radio-button {
          margin: 10px 15px 10px 15px;
          label {
            padding-left: 10px;
          }
        }
      }

    }
  }
  .error {
    color: red;
  }
  .required-asterisk {
    color: red;
  }
}

@media only screen and (min-width: 768px) {
  .form-control {
    flex-direction: row;

    .label-wrap {
      min-height: 50px;
      width: 30%;
    }
    .item-input {
      width: 70%;
      .item-input-content {
        min-height: 50px;
        .radio-button-group {
          display: flex;
          width: 100%;
          margin: 10px 0 20px 0;
          .radio-button {
            margin-right: 15px;
            margin-left: 0;
          }
        }
      }
    }
  }
}

.button-group-wrap {
  margin-top: 25px;
  .button-group {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    p-button{
      width: 100%;
    }
  }
}
.error-message {
  background-color: rgb(255, 207, 207);
  padding: 15px;
}
:host ::ng-deep .p-button {
  width: 100%;
}
