<div class="wrap">
  <h1>Thank you.</h1>
  <h3>Your order was completed successfully.</h3>
  <div class="order-info">
    <div class="order-item">
      <div class="order-subitem left">
        <div class="item-title">
          <h3>Delivery address:</h3>
        </div>
        <div class="item-info">
          <p>Country: {{ order.address.country }}</p>
          <p>City: {{ order.address.city }}</p>
          <p>Address: {{ order.address.address }}</p>
        </div>
      </div>
      <div class="order-subitem right">
        <div class="item-title">
          <h3>Order Date:</h3>
        </div>
        <div class="item-info">
          <p>{{ order.deliveryDate.date | date: 'fullDate' }}</p>
        </div>
      </div>
    </div>
    <div class="order-item">
      <div class="order-subitem left">
        <div class="item-title">
          <h3>Product:</h3>
        </div>
        <div class="item-info product-info">
          <div class="prod-img">
            <img src="{{ product.imgUrl }}" alt="product">
          </div>
          <div class="prod-text">
            <p>Name: {{ product.name }}</p>
            <p>Price: {{ product.price | currency: 'USD'}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="order-item">
      <div class="order-subitem left">
        <div class="item-title">
          <h3>Payment method:</h3>
        </div>
        <div class="item-info">
          <p class="left">{{ order.paymentMethod.payment | titlecase}}</p>
        </div>
      </div>
    </div>
  </div>
  <button
    class="btn btn-border"
    (click)="onClick()"
  >
    Create new order
  </button>
</div>

