.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
}
h1 {
  margin: 10px;
  font-size: 40px;
}
h3 {
  font-size: 26px;
}
button {
  margin-top: 50px;
}

.order-info {
  margin-top: 30px;
  width: 100%;
  .order-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .order-subitem {
      margin-bottom: 20px;
      h3 {
        font-size: 22px;
      }
      &.left {
        text-align: left;
      }
      &.right {
        text-align: left;
      }
      .item-info {
        display: flex;
        margin-top: 10px;
        flex-direction: column;
        &.product-info {
          flex-direction: column;
        }
        .prod-img {
          width: 150px;
          img {
            width: 100%;
            float: left;
          }
        }
        .prod-text {
          padding-left: 10px;
        }
      }
      p {
        font-size: 20px;
        padding-left: 5px;
        padding-top: 5px;
        width: 100%;
      }
    }
  }
  @media screen and (min-width: 992px) {
    .order-item {
      flex-direction: row;
      .order-subitem {
        .item-info {
          flex-direction: column;
          &.product-info {
            flex-direction: row;
          }
        }
        &.left {
          text-align: left;
        }
        &.right {
          text-align: right;
        }
      }
    }
  }
}

